.sidenav{
    background-color: #3f51b5;
    width: 200px;
}

.sidenav a {
    color: white;
}
.sidenav i {
    padding-right: 10px;
}
.content{
    padding: 16px;
    background-color: white;
}

@media screen and (max-width: 360px){
    .sidenav{
        
        width: 120px;
    }
    
    .content{
        padding: 2px;
        
    }
}